services:
  server:
    build: .   
    ports:
      - "3001:3001"
    environment:
      - MONGO_URL=mongodb://mongodb:27017/signal_db
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"